﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Controller Operation: </h1>
<h2>Transient: @ViewBag.Transient</h2>
<h2>Scoped: @ViewBag.Scoped</h2>
<h2>Singleton: @ViewBag.Singleton</h2>
<h2>SingletonInstance: @ViewBag.SingletonInstance</h2>

<h1>Operation Services:</h1>
<h2>Transient: @ViewBag.ServiceTransient </h2>
<h2>Scoped: @ViewBag.ServiceScoped </h2>
<h2>Singleton: @ViewBag.ServiceSingleton </h2>
<h2>SingletonInstance: @ViewBag.ServiceSingletonInstance </h2>

